<div class="d-flex gap-4 pb-6">
  <!-- 左側類別名稱 -->
  <div class="flex-shrink-0 side-width">
    <h2 class="fs-4 mb-3">教育背景</h2>
    <p class="text-natural-50">
      欄位皆為選填
    </p>
  </div>
  <!-- 右側表單 -->
  <div class="col-8">
    <!-- 學歷背景 -->
    <div class="mb-4">
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="學歷背景（最多500字）"
          id="education"
          style="height: 160px"
          maxlength="500"
        ></textarea>
        <label for="education">
          學歷背景（最多500字）
        </label>
      </div>
    </div>
    <!-- 專業培訓與工作坊 -->
    <div class="mb-4">
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="專業培訓與工作坊（最多500字）"
          id="training"
          style="height: 160px"
          maxlength="500"
        ></textarea>
        <label for="training">
          專業培訓與工作坊（最多500字）
        </label>
      </div>
    </div>
  </div>
</div>