<div class="d-flex gap-4 border-bottom pb-5 mb-5">
  <!-- 左側類別名稱 -->
  <div class="flex-shrink-0 side-width">
    <h2 class="fs-4 mb-3">職涯規劃</h2>
    <p class="text-natural-50">
      欄位皆為<span
        class="badge rounded-pill text-bg-danger ms-1"
        >必填</span
      >
    </p>
  </div>
  <!-- 右側表單 -->
  <div>
    <!-- 1 年短期職涯目標 -->
    <div class="mb-4">
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="1 年短期職涯目標（最多 300 字）"
          id="1-yr-goal"
          style="height: 160px"
          maxlength="300"
        ></textarea>
        <label for="1-yr-goal">
          1 年短期職涯目標（最多 300 字）
        </label>
      </div>
    </div>
    <!-- 1-3 年中長期職涯願景 -->
    <div class="mb-4">
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="1-3 年中長期職涯願景（最多 300 字）"
          id="3-yr-goal"
          style="height: 160px"
          maxlength="300"
        ></textarea>
        <label for="3-yr-goal">
          1-3 年中長期職涯願景（最多 300 字）
        </label>
      </div>
    </div>
    <!-- 理想工作模式 -->
    <div class="mb-4">
      <p class="mb-2">理想工作模式</p>
      <div class="px-2">
        <div class="form-check form-check-inline me-4 mb-2">
          <input
            class="form-check-input"
            type="radio"
            name="idealJobStatus"
            id="office"
            value="office"
            checked
          />
          <label class="form-check-label" for="office"
            >固定辦公室工作</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="radio"
            name="idealJobStatus"
            id="mixed"
            value="mixed"
          />
          <label class="form-check-label" for="mixed"
            >混合式工作(辦公室+遠端)</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="radio"
            name="idealJobStatus"
            id="remote"
            value="remote"
          />
          <label class="form-check-label" for="remote"
            >完全遠端工作(固定地點)</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="radio"
            name="idealJobStatus"
            id="freelancer"
            value="freelancer"
          />
          <label class="form-check-label" for="freelancer"
            >數位遊牧(邊工作邊旅行)</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="radio"
            name="idealJobStatus"
            id="other"
            value="other"
          />
          <label class="form-check-label" for="other"
            >其他(請說明)</label
          >
        </div>
      </div>
    </div>
    <!-- 目標薪資/收入 -->
    <div class="mb-4">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="salaryExpectation"
          placeholder="目標薪資/收入"
        />
        <label for="works">目標薪資/收入</label>
      </div>
    </div>
    <!-- 目前面臨的職涯挑戰 -->
    <div class="mb-4">
      <p class="mb-2">目前面臨的職涯挑戰</p>
      <div class="px-2">
        <div class="form-check form-check-inline me-4 mb-2">
          <input
            class="form-check-input"
            type="checkbox"
            id="challenge-1"
            value="challenge-1"
          />
          <label class="form-check-label" for="challenge-1"
            >方向不明確</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="challenge-2"
            value="challenge-2"
          />
          <label class="form-check-label" for="challenge-2"
            >技能需要提升</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="challenge-3"
            value="challenge-3"
          />
          <label class="form-check-label" for="challenge-3"
            >收入不穩定</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="challenge-4"
            value="challenge-4"
          />
          <label class="form-check-label" for="challenge-4"
            >客戶開發困難</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="challenge-5"
            value="challenge-5"
          />
          <label class="form-check-label" for="challenge-5"
            >時間管理問題</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="challenge-6"
            value="challenge-6"
          />
          <label class="form-check-label" for="challenge-6"
            >工作生活失衡</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="challenge-7"
            value="challenge-7"
          />
          <label class="form-check-label" for="challenge-7"
            >缺乏人脈資源</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="challenge-8"
            value="challenge-8"
          />
          <label class="form-check-label" for="challenge-8"
            >其他(請說明)</label
          >
        </div>
      </div>
    </div>
    <!-- 期望獲得的協助與資源 -->
    <div class="mb-4">
      <p class="mb-2">期望獲得的協助與資源</p>
      <div class="px-2">
        <div class="form-check form-check-inline me-4 mb-2">
          <input
            class="form-check-input"
            type="checkbox"
            id="help-1"
            value="help-1"
          />
          <label class="form-check-label" for="help-1"
            >職涯方向指導</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="help-2"
            value="help-2"
          />
          <label class="form-check-label" for="help-2"
            >專業技能提升建議</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="help-3"
            value="help-3"
          />
          <label class="form-check-label" for="help-3"
            >個人品牌建立</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="help-4"
            value="help-4"
          />
          <label class="form-check-label" for="help-4"
            >接案策略與定價</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="help-5"
            value="help-5"
          />
          <label class="form-check-label" for="help-5"
            >客戶開發方法</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="help-6"
            value="help-6"
          />
          <label class="form-check-label" for="help-6"
            >財務規劃</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="help-7"
            value="help-7"
          />
          <label class="form-check-label" for="help-7"
            >時間管理系統</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="help-8"
            value="help-8"
          />
          <label class="form-check-label" for="help-8"
            >工作生活平衡</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="help-9"
            value="help-9"
          />
          <label class="form-check-label" for="help-9"
            >其他(請說明)</label
          >
        </div>
      </div>
    </div>
    <!-- 感興趣的服務方案 -->
    <div class="mb-4">
      <p class="mb-2">感興趣的服務方案</p>
      <div class="px-2">
        <div class="form-check form-check-inline me-4 mb-2">
          <input
            class="form-check-input"
            type="checkbox"
            id="intrest-1"
            value="intrest-1"
          />
          <label class="form-check-label" for="intrest-1"
            >探索定位</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="intrest-2"
            value="intrest-2"
          />
          <label class="form-check-label" for="intrest-2"
            >客製化方案</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="intrest-3"
            value="intrest-3"
          />
          <label class="form-check-label" for="intrest-3"
            >實戰指導</label
          >
        </div>
      </div>
    </div>
  </div>
</div>
