<div class="d-flex gap-4 border-bottom pb-6 mb-6">
  <!-- 左側類別名稱 -->
  <div class="flex-shrink-0 side-width">
    <h2 class="fs-4 mb-3">專業技能區塊</h2>
    <p class="text-natural-50">
      欄位皆為選填
    </p>
  </div>
  <!-- 右側表單 -->
  <div>
    <!-- 核心專業領域 -->
    <div class="mb-4">
      <p class="mb-2">核心專業領域</p>
      <div class="px-2">
        <div class="form-check form-check-inline me-4 mb-2">
          <input
            class="form-check-input"
            type="checkbox"
            id="core-1"
            value="core-1"
          />
          <label class="form-check-label" for="core-1"
            >設計/創意</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="core-2"
            value="core-2"
          />
          <label class="form-check-label" for="core-2"
            >科技/程式開發</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="core-3"
            value="core-3"
          />
          <label class="form-check-label" for="core-3"
            >行銷/公關</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="core-4"
            value="core-4"
          />
          <label class="form-check-label" for="core-4"
            >內容創作/寫作</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="core-5"
            value="core-5"
          />
          <label class="form-check-label" for="core-5"
            >顧問/諮詢</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="core-6"
            value="core-6"
          />
          <label class="form-check-label" for="core-6"
            >商業/管理</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="core-7"
            value="core-7"
          />
          <label class="form-check-label" for="core-7"
            >財務/會計</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="core-8"
            value="core-8"
          />
          <label class="form-check-label" for="core-8"
            >教育/培訓</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="core-9"
            value="core-9"
          />
          <label class="form-check-label" for="core-9"
            >法律/合規</label
          >
        </div>
        <div class="form-check form-check-inline me-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="core-10"
            value="core-10"
          />
          <label class="form-check-label" for="core-10"
            >健康/醫療</label
          >
        </div>
      </div>
    </div>
    <!-- 專業背景和核心競爭力 -->
    <div class="mb-4">
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="專業背景和核心競爭力（最多300字）"
          id="prof-bg"
          style="height: 160px"
          maxlength="300"
        ></textarea>
        <label for="prof-bg">
          專業背景和核心競爭力（最多300字）
        </label>
      </div>
    </div>
    <!-- 專業技能 -->
    <div class="mb-4">
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="專業技能（最多300字）"
          id="prof-skill"
          style="height: 160px"
          maxlength="300"
        ></textarea>
        <label for="prof-skill">
          專業技能（最多300字）
        </label>
      </div>
    </div>
    <!-- 語文能力 -->
    <div class="mb-4">
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="語文能力（最多300字）"
          id="lang"
          style="height: 160px"
          maxlength="300"
        ></textarea>
        <label for="lang">
          語文能力（最多300字）
        </label>
      </div>
    </div>
    <!-- 資格證照 -->
    <div class="mb-4">
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="資格證照（最多300字）"
          id="license"
          style="height: 160px"
          maxlength="300"
        ></textarea>
        <label for="license">
          資格證照（最多300字）
        </label>
      </div>
    </div>
  </div>
</div>
