<div
  class="d-flex flex-column flex-lg-row gap-4 pb-6 mb-0 mb-lg-6 border-bottom"
>
  <!-- 左側類別名稱 -->
  <div class="flex-shrink-0 side-width">
    <h2 class="fs-4 mb-3">基本資料</h2>
    <p class="text-natural-50">
      欄位皆為<span class="badge rounded-pill text-bg-danger ms-1">必填</span>
    </p>
  </div>
  <!-- 右側表單 -->
  <div class="w-100">
    <!-- 姓名 -->
    <div class="mb-4 mb-lg-6">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="姓名" />
        <label for="name">姓名</label>
      </div>
    </div>
    <!-- 信箱 -->
    <div class="mb-4 mb-lg-6">
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="信箱"
        />
        <label for="email">信箱</label>
      </div>
      <div id="email" class="form-text text-natural-50">
        盡量勿使用Yahoo或Hotmail郵件信箱，以免因擋信、漏信
      </div>
    </div>
    <!-- 聯絡電話 -->
    <div class="mb-4 mb-lg-6">
      <div class="form-floating mb-3">
        <input
          type="tel"
          class="form-control"
          id="tel"
          placeholder="聯絡電話"
        />
        <label for="tel">聯絡電話</label>
      </div>
      <div id="tel" class="form-text text-natural-50">
        我們不會以電話主動聯繫您，告知您要至ATM操作轉帳
      </div>
    </div>
    <!-- 目前職業/工作身分 -->
    <div class="mb-4">
      <div class="dropdown">
        <button
          class="form-select text-start py-3"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          目前職業/工作身分
        </button>
        <ul class="dropdown-menu w-100 mt-2">
          <li>
            <a class="dropdown-item" href="#">科技</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">媒體</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">教育</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">金融</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">醫療健康</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">零售製造</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">服務業</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">藝術創意</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">非營利組織</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
