<div
  class="tab-pane fade show active"
  id="pills-info"
  role="tabpanel"
  aria-labelledby="pills-info-tab"
  tabindex="0"
>
  <form action="">
    <div class="d-flex flex-column flex-lg-row gap-4 pb-6 mb-0 mb-lg-6">
      <!-- 左側類別名稱 -->
      <div class="flex-shrink-0 side-width">
        <h2 class="fs-4 mb-0">個人資料</h2>
      </div>
      <!-- 右側表單 -->
      <div class="w-100">
        <!-- 頭貼 -->
        <div class="mb-4 mb-lg-6">
          <img
            src="/assets/images/avatar.png"
            alt="user-image"
            class="rounded-circle border me-4 user-image-profile"
          />
          <!-- 更新頭貼 -->
          <label for="avatarUpload" class="btn border align-bottom"
            ><span class="material-icons-outlined me-1 align-bottom">
              file_upload </span
            >更新頭貼</label
          >
          <input
            type="file"
            name="avatarUpload"
            id="avatarUpload"
            class="d-none"
          />
        </div>
        <!-- 姓名 -->
        <div class="mb-4 mb-lg-6">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="姓名"
            />
            <label for="name">姓名</label>
          </div>
        </div>
        <!-- 性別 -->
        <div class="mb-4 mb-lg-6">
          <p class="mb-2">性別</p>
          <div class="px-2">
            <div class="form-check form-check-inline me-4 me-lg-6">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="female"
                value="female"
                checked
              />
              <label class="form-check-label ms-1" for="female">女性</label>
            </div>
            <div class="form-check form-check-inline me-4 me-lg-6">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="male"
                value="male"
              />
              <label class="form-check-label ms-1" for="male">男性</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="secret"
                value="secret"
              />
              <label class="form-check-label ms-1" for="secret">不願透露</label>
            </div>
          </div>
        </div>
        <!-- 生日 -->
        <div class="mb-4 mb-lg-6">
          <div class="form-floating">
            <input
              type="date"
              class="form-control"
              id="birthday"
              placeholder="生日"
            />
            <label for="birthday">生日</label>
          </div>
        </div>
        <!-- 密碼 -->
        <div class="mb-4 mb-lg-6">
          <p class="mb-2">密碼</p>
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-light border-natural-85 py-3 px-2 ps-lg-5 pe-lg-3 rounded-pill d-flex justify-content-center"
            data-bs-toggle="modal"
            data-bs-target="#newpw"
          >
            修改密碼
            <span class="material-icons-outlined align-bottom ps-1">
              chevron_right
            </span>
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="newpw"
            tabindex="-1"
            aria-labelledby="newpw"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="newpw">更新密碼</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body p-6">
                  <div class="mb-6">
                    <div class="form-floating">
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="密碼"
                      />
                      <label for="password">密碼</label>
                    </div>
                  </div>
                  <div>
                    <div class="form-floating">
                      <input
                        type="password"
                        class="form-control"
                        id="re-password"
                        placeholder="再次密碼"
                      />
                      <label for="re-password">再次密碼</label>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-dark py-3 ps-5 pe-3 mb-4 mb-md-0 rounded-pill d-flex justify-content-center"
                    data-bs-dismiss="modal"
                  >
                    更新密碼
                    <span class="material-icons-outlined align-bottom ps-1">
                      chevron_right
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 信箱 -->
        <div class="mb-4 mb-lg-6">
          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="信箱"
            />
            <label for="email">信箱</label>
          </div>
          <div id="email" class="form-text text-natural-50">
            盡量勿使用Yahoo或Hotmail郵件信箱，以免因擋信、漏信
          </div>
        </div>
        <!-- 聯絡電話 -->
        <div class="mb-4 mb-lg-6">
          <div class="form-floating mb-3">
            <input
              type="tel"
              class="form-control"
              id="tel"
              placeholder="聯絡電話"
            />
            <label for="tel">聯絡電話</label>
          </div>
        </div>
        <!-- 通訊地址 -->
        <div>
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="address"
              placeholder="通訊地址"
            />
            <label for="address">通訊地址</label>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- button -->
  <div class="d-flex flex-column-reverse flex-md-row justify-content-center">
    <button
      type="button"
      class="btn btn-light border-natural-85 py-3 ps-5 pe-3 me-lg-6 mb-6 mb-lg-0 rounded-pill d-flex justify-content-center"
    >
      重新填寫
      <span class="material-icons-outlined align-bottom ps-1">
        chevron_right
      </span>
    </button>
    <button
      type="button"
      class="btn btn-dark py-3 ps-5 pe-3 mb-4 mb-md-0 rounded-pill d-flex justify-content-center"
    >
      儲存更新
      <span class="material-icons-outlined align-bottom ps-1">
        chevron_right
      </span>
    </button>
  </div>
</div>
